{% extends('base.html.twig') %}

{% block body %}
    <h2>Liste of all posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('show', {id: post.id}) }}">{{ post.title }}</a></td>
                <td><a class="text-danger" href="{{ path('delete' ,{id: post.id}) }}">Delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


